<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <title>Document</title>
    <style>
        body{
            background: rgba(54, 217, 182);
            background: linear-gradient(90deg, rgba(54,217,182,1) 0%, rgba(32,152,126,1) 43%, rgba(0,212,255,1) 100%);
        }
    </style>
</head>
<body>
<div id ='form-wrapper'>
    <form id = 'form' method='POST'>
        {% csrf_token %}
        <input id='title' type='text'>
        <input id='description' type="textbox">
        <input id='submit' class='btn' type='submit'>
    </form>
</div>
    <div id ='list-wrapper'>
    <button>edit</button>
    </div>
    <script>
        var active_item = null
        build_list()
        function build_list(){
            var wrapper = document.getElementById('list-wrapper')
            wrapper.innerHTML = ''
            var url = 'http://127.0.0.1:8000/item-list/'
            fetch(url)
            .then((resp) => resp.json())
            .then(function(data){
                console.log('Data:', data)

                var list = data
                for (var i in list){
                    var item = `
                        <div>
                            <div style='flex:7'>
                            <span class='title'>${list[i].title}</span>
                            <span class='title'>${list[i].description}</span>
                            <button class='btn edit'>Edit</button>
                            <button class='btn delete'>delete</button>
                            </div>
                        </div>
                    `
                    wrapper.innerHTML += item
                }
                for (var i in list){
                    var edit_btn = document.getElementsByClassName('edit')[i]
                    var delete_btn = document.getElementsByClassName('delete')[i]
                    edit_btn.addEventListener('click', (function(item){
                        return function(){
                            edit_item(item)
                        }
                    })(list[i]))

                    delete_btn.addEventListener('click', (function(item){
                        return function(){
                            delete_item(item)
                        }
                    })(list[i]))


                }
            })
        }

        var form = document.getElementById('form-wrapper')
        form.addEventListener('submit', function(e){
            e.preventDefault()
            console.log("form submit")
            var url = 'http://127.0.0.1:8000/item-create/'

            if (active_item != null){
                var url = 'http://127.0.0.1:8000/item-update/${active_item.id}/'
                active_item = null
            }
            var title = document.getElementById('title').value
            var description = document.getElementById('description').value
            fetch(url, {
                method: 'POST',
                headers:{
                    'content-type': 'application/json',

                },
                body:JSON.stringify({'title':title, 'description': description})
            }
            ).then(function(response){
                build_list()
                document.getElementById('form').reset()
            })
        })
        function edit_item(item){
            console.log('item clicked', item)
            active_item = item
            document.getElementById('title').value = active_item.title
        }
        function delete_item(item){
            console.log('delete click')
            console.log(active_item)
            active_item = item
            document.getElementById('title').value = active_item.title
            fetch(`http://127.0.0.1:8000/item-delete/${active_item.id}`,{
                method: 'DELETE',
                headers: {
                    'content-type': 'application/json',
                },
            }).then((response) => {
                build_list()
            })
        }
    </script>
</body>
</html>